@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.Container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 500px;
}

.ContainerInfo{
    background: linear-gradient(to right, #000046, #1cb5e0);  
    width: 800px;
    padding: 20px;
    border-radius: 3px;
    align-self: center;
    margin: 50px auto;
    border: 2px solid black;
}
.Title{
    font-family: 'Bebas Neue', cursive;
    font-size: 5rem;
    margin-bottom: 20px;
    color: black;
    font-weight: 600;
    text-shadow: -6px 1px 3px rgb(194, 184, 184);
}

.Info h1{
    color: rgb(5, 207, 233);
    font-family: 'PT Sans Narrow', sans-serif;
    text-shadow: -2px 0px 5px rgb(145, 144, 144);
    margin-top: 10px;
}
.Info hr{
    width: 400px;
    margin-bottom: 20px;
}

.Info p{
    color: white;
    font-family: 'Varela Round', sans-serif;
}

@media screen and (max-width: 968px){

    .Container{
        width: 100%;
        height: auto;
    }
    .ContainerInfo{
        width: 90%;
    }

    .Title{
        margin-top: 30px;
    }

    .Info h1{
        font-size: 25px;
    }

    .Info hr{
        width: 100%;
    }

}