@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

.FooterContainer{
    width: 100%;
    height: 14vh;
    background-color: #171523;
    position: relative;
    margin-top: auto;
}

.Container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    max-width: 1300px;
    height: 100%;
}

.Terms{
    display: flex;
    align-items: center;
}

.Terms p{
    color: white;
    font-family: "Ubuntu";
    font-size: 2rem;
    padding: 0 10px
}

.Social{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-right: 0;
}

.Icono{
    color: white;
    font-size: 2.5rem;
    margin: 0 10px;
}

.Icono:hover{
    transform: scale(1.2);
    transition: transform 500ms linear;
}

@media screen and (max-width: 968px){
    .Terms{
        order: 2;
        margin-bottom: 10px;
        width: 100%;
        justify-content: center;
    }

    .Terms p{
        font-size: 1.5rem;
    }

    .Social{
        order: 1;
        margin: 10px;
        width: 100%;
    }

    .Icono{
        margin: 0 20px;
    }
}